_Store
Thumbs.db
*.class
*.cache
*.war
*.ear
target/*
logs/*
hs_err_pid*
/target/
/.project/
.settings
.idea/
*.iml
webapp/WEB-INF/lib
webapp/WEB-INF/classes
DEV.jcoDestination
src/main/resources/rebel.xml
generatorConfig.xml
rebel.xml
out/
